
.Main {
    text-align: center;
  }

.Main-header {
    background-color: rgba(53, 99, 233, 0.68);
    min-height: 100vh;
    display: grid; /* 그리드로 설정 */
    grid-template-columns: 1fr 1fr; /* 두 개의 그리드, 각각 50% */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-width: 100%; /* 최대 가로 길이 설정 */
    width: 100%; 
    margin: 0 auto;
  }

  .left-grid, .right-grid {
    padding: 20px;
  }
  
  .left-grid {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
  }
  
  .right-grid {
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
  }

  .Title {
    font-size : 4rem;
    margin-bottom : 140px;
    font-weight : bold;

  }

  .Content {
    font-size : 1rem;
    margin-top : 15px;
  }

  .custom-button {
    border: 2px solid white; 
    background-color: white; 
    color: #3563E9; 
    font-weight : bold;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: box-shadow 0.3s ease; 
    margin: 10px;
    width : 50%; 
}

.custom-button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5); /* 호버 시 그림자 효과 */
}

.custom-button:active {
    box-shadow: 0px 0px 5px rgba(0, 0, 255, 0.7); /* 클릭 시 그림자 효과 */
}
  

/* 모바일 화면용 미디어 쿼리 */
@media (max-width: 768px) {
  .Main-header {
    grid-template-columns: 1fr; /* 한 열로 변경 */
    text-align: center; /* 중앙 정렬 */
  }

  .left-grid {
    align-items: center; /* 모바일에서 가운데 정렬 */
  }
}